.collections-nav{
    display: flex;
    flex-direction: row;
}
.collections-nav ul{
    flex: auto;
    flex-direction: row;
    display: flex;
    list-style-type: none;
}
.collections-nav li{
    flex: auto;
}
.pagination{
    display: inline-flex;
}
.pagination a,p{
    margin: 1em;
}
.log-table{
    width: 100%;
    border-collapse: collapse;
}
.log-table th,td{
    border-width: 1px;
    border-style: solid;
    font-family: monospace;
    font-size:.85em;
}
.field-header{

}
.field-header-link{
    display: inline-flex;
}
.field-header-link i{
    margin-left: 1em;
}
.log-entry-row{

}
.log-entry-field{

}
.hidden{
    display: none;
}
