.collections-nav{
    display: flex;
    flex-direction: row;
}
.collections-nav ul{
    flex: auto;
    flex-direction: row;
    display: flex;
    list-style-type: none;
}
.collections-nav li{
    flex: auto;
}
.row{
    display: flex;
    flex-flow: row;
}
.row > .main{
    flex: 0 0 80%;
    order: 1;
    max-width: 80%;
    overflow-x: scroll;
}
.row > .sidebar{
    flex: 0 0 20%;
    order: 2;
    max-width: 20%;
}
.sidebar{
    display: flex;
    flex-direction: column;
}
.sidebar ul{
    list-style-type: none;
}
.pagination{
    display: inline-flex;
}
.pagination a,p{
    margin: 1em;
}
.log-table{
    border-collapse: collapse;
}
.log-table th,td{
    border-width: 1px;
    border-style: solid;
    font-family: monospace;
    font-size:.85em;
}
.field-header{

}
.field-header-link{
    display: inline-flex;
}
.field-header-link i{
    margin-left: 1em;
}
.log-entry-row{

}
.log-entry-field{

}
.hidden{
    display: none;
}
.button{
    background-color: rgb(200, 200, 200);
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px;
}
.button.active{
    background-color: rgb(210, 210, 255);
}
